p.redred{
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    color: white;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-color: black;
    border: 10px solid;
    border-radius: 5px;
    border-color: black;
}

 .overflowtest{
    background-color: rgba(104, 158, 169, 0.235);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 15px;
    width: 50%;
    margin: 30px auto;
    height: 215px;
    overflow: scroll;
  }

.blueblue{
    color: rgb(4, 50, 114);
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }
body{
        font-family: 'Noto Serif TC',sans-serif;
      }